<h1>PLANNING YOUR TRIP</h1>
<div class="container">
  <form action="/planning" method="POST" enctype="multipart/form-data" class="planning-form">
    <label style="color: #ddecfc; font-size: 20px " for="">Destination:</label>
    <input type="text" name="destination">
    <br>
    <label style="color: #ddecfc; font-size: 20px " for="">City:</label>
    <input type="text" name="city">
    <br>
    <label style="color: #ddecfc; font-size: 20px " for="">People:</label>
    <input type="text" name="people">
    <br>
    <label style="color: #ddecfc; font-size: 20px " for="">Route:</label>
    <input type="text" name="route">
    <br>
    <label style="color: #ddecfc; font-size: 20px " for="">Days:</label>
    <input type="number" name="days">
    <br>
    <br>
    <label style="color: #ddecfc; font-size: 20px " for="">Image:</label>
    <input class="btn btn-info" type="file" name="photo">
    <br>
    <input class="btn btn-info" type="submit" value="Plan your new Trip">
  </form>
</div>