<h1>PLANNING YOUR TRIP</h1>

 <form action="/planning" method="POST" enctype="multipart/form-data">
  <label for="">Destination:</label>
  <input type="text" name="destination">
  <label for="">City:</label>
  <input type="text" name="city">
  <label for="">People:</label>
  <input type="text" name="people">
  <label for="">Route:</label>
  <input type="text" name="route">
  <label for="">Days:</label>
  <input type="number" name="days">
  <label for="">Image:</label>
  <input type="file" name="photo">
  <input type="submit" value="Plan your new Trip">
</form>