{{!-- <div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page </a> 
  <a href="/my-trips"> My trips </a>
  <a href="/planning"> Planning </a>

</div> --}}

<div class="container">
  <div class="row">
    <div class="col home-text text-center hometitle mt-4">
      <h1>Why use Travel-Log?</h1>
      <h2>Organize your travel</h2>
      <h4>With Travel-Log you have the means to organize your trips and to keep your fondest memories alive</h4>
    </div>
  </div>
  <div class="row homecol ">
    <div class="col mab ">
      <div class="containerHome">
        <img src="../images/nature.jpg" alt="Bag" class="image">
          <div class="overlay">Keep your memories</div>
        
      </div>
    </div>
    <div class="col mab ">
      <div class="containerHome">
         <img src="../images/travel-begin.jpg" alt="Bag" class="image">
          <div class="overlay">Plan your Trip</div>
      </div>
    </div>
    <div class="col mab ">
        <div class="containerHome">
          <img src="../images/travel-bag.jpg" alt="Bag" class="image">
          <div class="overlay">Edit your Trips</div>
      
    </div>
  </div>
</div>
</div>